h1{
   font-size:50px;
   color:blueviolet; 
}

body{
   background-image:url('bg1.jpg');
   background-position: center;
   background-size: cover;
}
#olympic_canvas{
   border-width: 2px;
   border-style: double;
   border-color: rgb(252, 59, 0);
}
